body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container {
  max-width: 400px;
  margin: 150px auto 0;
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.form-container label {
  display: block;
  margin-bottom: 10px;
}

.form-container input[type="date"],
.form-container select,
.form-container input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container::after {
  content: "";
  display: table;
  clear: both;
}

.form-container .form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.form-container .form-row label {
  flex-basis: 100%;
}

.form-container .form-row input,
.form-container .form-row select {
  flex-basis: calc(50% - 5px);
  margin-right: 10px;
}

label {
  margin-bottom: 10px;
}

input[type="date"],
select,
input[type="text"] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

