/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.contenedor {
    margin-top: 80px;
    padding: 20px;
}
.container {
    max-width: 800px;
    margin-top: 0px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-details {
    text-align: center;
}

.profile-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
}


.preview-profile-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background-color: #f8f9fa;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1;
}

.upload-button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background-color: #f8f9fa;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
}

.upload-button::before {
    content: '\f093';
    font-family: FontAwesome;
    font-size: 20px;
    color: #212529;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.profile-image-container:hover .upload-button {
    opacity: .3;
}


.upload-button::before {
    content: '\f093';
    font-family: FontAwesome;
    font-size: 20px;
    color: #212529;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.upload-button:hover {
    background-color: #e9ecef;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.label {
    font-weight: bold;
}

.value {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
}

.password-label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.password-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.save-button {
    background-color: #0079d3;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

.mensaje {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

#edad {
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}